<div style="display: flex; flex-direction: row; justify-content: center;">
    <mat-card style="width: 60%; height: 50%; margin-top: 10%;">

        <div style="width: 75%; margin: 0 auto;">
            <h3>Select Process</h3>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Select One Process</mat-label>
                <mat-select (selectionChange)="processChanged($event.value)">
                    <mat-option *ngFor="let process of (processes | async)" [value]="process">
                        {{process.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="width: 75%; margin: 0 auto;">
            <h4 style="font-family: 'Montserrat', sans-serif;">Select Call Type</h4>
            <br>
            <mat-radio-group style="display: flex; flex-direction: row; justify-content: start;"
            [(ngModel)]="selectedRad" >
                <mat-radio-button *ngFor="let rad of radios" 
                style="margin: 10px;" [value]="rad" (change)="radChanged($event.value)">
                    {{rad}}
                </mat-radio-button>
            </mat-radio-group>

        </div> 
        <div>
            <button mat-raised-button color="primary" style="float: right;" 
            (click)="navigate()"> Next </button>
        </div>
    </mat-card>
</div>
