<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <br>
      </div>
  

      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In" routerLink="/process">
      </form>
  

      <div id="formFooter">
        <a class="underlineHover" style="cursor: pointer;">Welcome to KServe</a>
      </div>
  
    </div>
  </div>